@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top left, #f3e9ff, #edf5ff);
  color: #222;
}

.container {
  text-align: center;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

.title {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 8px;
}

.purple {
  color: #9c4dff;
}

.desc {
  color: #5f5f5f;
  font-size: 15px;
  margin-bottom: 24px;
  line-height: 1.4;
}

.start-btn {
  background: linear-gradient(90deg, #8f4aff, #b36bff);
  color: white;
  padding: 14px 34px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 8px 24px rgba(137, 0, 255, 0.25);
  transition: 0.2s;
}

.start-btn:hover {
  transform: translateY(-2px);
}

.note {
  margin-top: 8px;
  font-size: 11px;
  color: #868686;
}

.game-header {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*Aligns items horizontally starting from the left side
This places the home button on the far left.*/
  gap: 10px;
  margin-bottom: 15px;
}

.game-title {
  flex: 1;
  text-align: center;
  color: #9c4dff;
  font-size: 23px;
  font-weight: 700;
}

.banner {
  background: #fff8d7;
  color: #1cc72a;
  padding: 10px 22px;
  border-radius: 14px;
  border: 1px solid #f4d76c;
  font-size: 14px;
  font-weight: 600;
  display: none;
  margin: 0 auto 14px auto;
  width: fit-content;
}

.board {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(3, 110px);
  gap: 10px;
  padding: 10px;
  border-radius: 22px;
  background: rgba(250, 232, 250, 0.163);
  box-shadow: 0 14px 45px rgba(0,0,0,0.08);

}

.cell {
  width: 90px;
  height: 90px;
  background: white;
  box-sizing: border-box;
  border-radius: 16px;
  border: 3px solid transparent;
  outline: 2px dashed#d5c9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 14px 45px rgba(0,0,0,0.08);
  transition: transform 0.15s ease;

}

.cell:active {
  transform: translateY(-2px);
}

.cell.x {
  color: #9c4dff;
}
.cell.o {
  color: #1cc7ad;
}

.small {
  margin-top: 24px;
  padding: 10px 26px;
}

.circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid;
  border-color: #9c4dff;
  color: #9c4dff;
}

